:root {
  --color-bg: #f7edd928;
  --color-brand-100: #f5d5a7;
  --color-font: #2b3131;
}

h1, h2, h3 {
  font-family: 'Libre Baskerville', serif;
  //font-family: 'UnifrakturCook', serif;
  letter-spacing: 2px;
}

.website-title {
  font-size: 120px;
  line-height: 0.95em;
  padding: 20px;
}

body {
  min-height: 100vh;

  font-family: 'EB Garamond', serif;
  letter-spacing: 1px;
  font-weight: 400;
  color: var(--color-font);

  background-color: var(--color-bg);
  background-image: url(/images/texture-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: color-burn;
}

