:root {
  --color-bg: #f7edd928;
  --color-brand-100: #f5d5a7;
  --color-font: #2b3131;
}

h1,
h2,
h3 {
  font-family: 'Libre Baskerville', serif;
  letter-spacing: 2px;
}

body {
  min-height: 100vh;

  font-family: 'EB Garamond', serif;
  letter-spacing: 1px;
  font-weight: 400;
  color: var(--color-font);

  background-color: var(--color-bg);
  background-image: url(/images/texture-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: color-burn;
  background-attachment: fixed;
}

.buttons-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 4px;

  button {
    padding: 6px 10px;
    width: 100%;
    background-color: #333;
    cursor: pointer;
    transition: all 200ms ease;
    font-size: 16px;
    font-family: inherit;
    color: #f7f0e7;
    font-weight: 600;
  }

  button:hover {
    background-color: #cfc6bb;
    color: #333;
  }
}

.delete-container,
.edit-container,
.form-container {
  width: 400px;
  padding: 16px;
  margin: 10px;

  justify-self: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  border: 4px double #333;
  position: relative;

  h2 {
    font-size: 36px;
    font-style: italic;
    padding: 10px 0 20px;
    border-bottom: 1px solid #333;
  }

  input {
    padding: 6px 8px;
    border: 1px solid #333;
    background-color: transparent;
    font-family: inherit;
    font-size: 16px;
  }

  input:focus {
    outline: none;
    border-color: #666;
  }
}

.error {
  color: #221c1c;
  margin-top: 10px;
  font-weight: 600;
}