.nav-bar {
  border-color: var(--color-font);
  border-style: solid;
  border-width: 2px 0 2px 0;
  padding: 6px;
  display: flex;
  justify-content: center;
}

.links {
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: space-around;

  .dot {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: var(--color-font);
  }
  .link {
    transition: all 200ms ease;
    padding: 0 12px;

    &:hover {
      color: #fff;
      background-color: var(--color-font);
    }
  }
}